
.navbar {
  background-color: #101522;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

.navbar-logo {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  color: #fff;
  padding-left: 5px;
  background-color: transparent;
  border: none;
}

.navbar-logo {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle.icon, .dropdown-toggle.icon:focus, .dropdown-toggle.icon:active {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0px 0px 0px 5px;
}

@media (max-width: 768px) {
  
}

@media (max-width: 480px) {

  .navbar-container {
    flex-direction: column;
    align-items: flex-start
  }

  .icon-container {
    background-color: #fff;
    width: 100vw;
  }

  .icon {
    color: black;
  }
}
