.navbar {
  background-color: #3c3c3c;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.navbar-logo {
  font-family: "Dokdo", system-ui;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.navbar-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icon-menu {
  color: #fff;
  padding: 0px 5px 0px 10px;
}

#icon-menu i {
  font-size: 30px;
}

.iconSearch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  width: 70vw;
}

.icon-container {
  display: flex;
}

.icon {
  color: #fff;
  padding-left: 20px;
  border: none;
  font-size: 30px;
}

.search-input {
  background-color: rgb(219, 207, 207);
  border: none;
  border-radius: 2px;
  width: 45vw !important;
  cursor: pointer;
  padding: 5px !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle.icon,
.dropdown-toggle.icon:hover,
.dropdown-toggle.icon:focus,
.dropdown-toggle.icon:active {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0px 0px 0px 5px;
  margin: 0px;
}

@media (max-width: 768px) {

  .navbar-logo {
    font-size: 30px;
  }

  #icon-menu i {
    font-size: 20px;
  }

  .menu-logo {
    display: flex;
    align-items: center;
  }

  .icon {
    padding-left: 10px;
    font-size: 20px;
  }

  .search-input {
    background-color: rgb(219, 207, 207);
    border: none;
    border-radius: 2px;
    width: 40vw !important;
    cursor: pointer;
    margin-left: 10px;
    padding: 2px !important;
  }

}

@media (max-width: 480px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-logo {
    display: flex;
    align-items: center;
  }

  .navbar-logo {
    font-size: 35px;
  }

  .iconSearch-container {
    background-color: #3c3c3c;
    width: 100vw;
    padding: 10px;
  }

  #icon-menu i {
    font-size: 25px;
  }

  .icon {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 5px;
  }

  .icon i:hover,
  .icon i:focus,
  .icon i:active {
    color: black;
  }

  .search-input {
    background-color: rgb(219, 207, 207);
    border: none;
    border-radius: 7px;
    width: 70vw !important;
    margin: 0;
  }
}
